<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.association.workflow.mapper.ActivityMapper">


    <insert id="createNewActivity">
        insert into activity
        (guid,
         name,
         create_time,
         update_time,
         create_user_guid,
         update_user_guid,
         create_user_name,
         update_user_name,
         reason,
         detail,
         activity_status,
         delay_reason,
         cancel_reason,
         association_guid,
         school_id,
         from_date ,
         to_date ,
         image,
         place)
        values (#{condition.guid},
                #{condition.name},
                now(),
                now(),
                #{condition.createUserGuid},
                #{condition.createUserGuid},
                #{condition.createUserName},
                #{condition.createUserName},
                #{condition.reason},
                #{condition.detail},
                #{condition.activityStatus},
                #{condition.delayReason},
                #{condition.cancelReason},
                #{condition.associationGuid},
                #{condition.schoolId},
                #{condition.fromDate},
                #{condition.toDate},
                #{condition.image},
                #{condition.place})
    </insert>
    <update id="updateActivity">
        update activity
        <set>
            <if test="condition.place != null">
                place = #{condition.place}
            </if>
            <if test="condition.reason != null">
                ,reason = #{condition.reason}
            </if>
            <if test="condition.name != null">
                , name = #{condition.name}
            </if>
            <if test="condition.detail != null">
                , detail = #{condition.detail}
            </if>
            <if test="condition.delayReason != null">
                , delay_reason = #{condition.delayReason}
            </if>
            <if test="condition.cancelReason != null">
                , cancel_reason = #{condition.cancelReason}
            </if>
            <if test="condition.activityStatus != null">
                , activity_status = #{condition.activityStatus}
            </if>
            <if test="condition.fromDate !=  null">
                , from_date = #{condition.fromDate}
            </if>
            <if test="condition.toDate != null">
                , to_date = #{condition.toDate}
            </if>
            <if test="condition.image != null">
                , image = #{condition.image}
            </if>
            , update_time = now()
            , update_user_guid = #{condition.updateUserGuid}
            , update_user_name = #{condition.updateUserName}
        </set>
        <where>
            guid = #{condition.guid}
        </where>
    </update>
    <delete id="deleteActivity">
        delete
        from activity
        where guid = #{guid}
    </delete>
    <select id="queryActivity" resultType="com.association.workflow.model.ActivityDO">
        select * from
        activity
        <where>
        <if test="condition.associationGuid != null">
            association_guid = #{condition.associationGuid}
        </if>
        <if test="condition.schoolId != null">
            and school_id = #{condition.schoolId}
        </if>
        </where>
        order by activity_status asc , update_time desc
        LIMIT #{condition.offset} , #{condition.limit}
</select>
</mapper>