<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.association.workflow.mapper.ActivityUserMapper">


    <insert id="save">
        insert into activity_user
        (guid,
         user_guid,
         activity_guid)
        values (#{condition.guid},
                #{condition.userGuid},
                #{condition.activityGuid})
    </insert>
    <delete id="delete">
        delete
        from activity_user
        where guid = #{guid}
    </delete>
    <delete id="deleteRef">
        delete from
            activity_user
where activity_guid = #{activityGuid} and user_guid = #{userGuid}
    </delete>
    <select id="findActivityUser" resultType="com.association.workflow.model.ActivityUserDO">
        select * from activity_user
        <where>
            <if test="condition.userGuid != null">
                user_guid = #{condition.userGuid}
            </if>
            <if test="condition.activityGuid != null">
                and activity_guid = #{condition.activityGuid}
            </if>
        </where>
        ORDER BY create_time desc
    </select>
</mapper>