<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.association.workflow.mapper.AssociationUserMapper">


    <insert id="save">
        INSERT INTO
        user_association
        (
        guid ,
        user_guid ,
        association_guid ,
        create_date ,
        update_date
        )
        values (
          replace(uuid(),'-',''),
          #{condition.userGuid} ,
          #{condition.associationGuid} ,
          now(),
          now()
        )

    </insert>
    <delete id="delete">
        delete from user_association where guid = #{guid}
    </delete>
    <select id="findAssociationUser" resultType="com.association.workflow.model.AssociationUserDO">
        select * from user_association
        <where>
        <if test="condition.associationGuid != null">
            association_guid = #{condition.associationGuid}
        </if>
        <if test="condition.userGuid != null">
            and user_guid = #{condition.userGuid}
        </if>
        </where>
        LIMIT 10000
    </select>
</mapper>